@keyframes translateY {
  from {
    /* transform: scale(1); */
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.inverted {
  background: linear-gradient(-90deg, #ff0080, #7928ca);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

.inverted:hover {
  /* background-image: linear-gradient(90deg, #ff0080, #7928ca); */
  animation: paused;
  /* background-size: auto auto; */
}

.cardTranslateY:hover {
  animation: translateY 0.1s linear 0s normal 1 forwards running;
}
